:root {
  --title-font: "Quicksand", sans-serif;
  --dark-color: #685454;
  --primary-pink: #ea8a8a;
  --light-color: #fcf8f3;
  --highlight-color: #f0c054;
}
body {
  background-color: var(--light-color);
  font-family: var(--title-font);
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-size: fit;
}
h1 {
  font-family: var(--title-font);
  font-size: 36px;
  font-weight: 600;
  color: var(--dark-color);
  text-align: center;
  margin-top: 10px;
}
.pink {
  color: var(--primary-pink);
  font-weight: bolder;
}
.yellow {
  color: var(--highlight-color);
  font-weight: bolder;
}
h2 {
  font-family: var(--title-font);
  font-size: 28px;
  font-weight: 600;
  color: var(--dark-color);
  text-align: center;
  margin-top: 30px;
}
.more-things {
  margin-bottom: 30px;
}
h4 {
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-pink);
  text-align: center;
}
h4.navbar-pink:hover {
  color: var(--highlight-color);
  font-weight: bolder;
}
h4.navbar-button {
  color: var(--light-color);
}
h5 {
  font-family: var(--title-font);
  font-size: 18px;
  color: var(--primary-pink);
  text-align: center;
  margin-top: 30px;
}
h5.sub-title {
  font-family: var(--title-font);
  font-size: 18px;
  color: var(--primary-pink);
  text-align: center;
  margin-top: 5px;
}
h5.more-links {
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
  font-family: var(--title-font);
  color: var(--primary-pink);
}
p {
  font-family: var(--title-font);
  font-size: 14px;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 10px;
}
footer {
  margin-top: 100px;
}
button.pink-button {
  background-color: var(--primary-pink);
  border-radius: 30px;
  padding-inline: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 10px;
}
button.pink-button:hover {
  background-color: var(--highlight-color);
}
button.light-button {
  background-color: var(--light-color);
  border-radius: 30px;
  border-width: 1px;
  border-color: var(--primary-pink);
  padding-inline: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
}
button.light-button:hover {
  background-color: var(--highlight-color);
}
button.form-button {
  background-color: var(--light-color);
  border-radius: 30px;
  border-width: 1px;
  border-color: var(--primary-pink);
  padding-inline: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
}
button.form-button:hover {
  background-color: var(--light-color);
  border-radius: 30px;
  border-width: 1px;
  border-color: var(--primary-pink);
  padding-inline: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
}
button.light-button-small {
  background-color: var(--light-color);
  border-radius: 20px;
  border-width: 1px;
  border-color: var(--primary-pink);
  padding-inline: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
}
button.light-button-small:hover {
  background-color: var(--primary-pink);
}
a {
  text-decoration: none;
  color: var(--primary-pink);
}
a:hover {
  color: var(--dark-color);
  font-weight: bolder;
}
a.pink-button-link {
  color: var(--light-color);
  text-decoration: none;
}
a.pink-button-link:hover {
  color: var(--light-color);
}
a.light-button-link {
  color: var(--primary-pink);
  text-decoration: none;
}
a.light-button-link:hover {
  color: var(--light-color);
}
.container-navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
}
.container-heading {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 50px;
  padding-left: 50px;
  align-content: center;
}
.container-button {
  margin-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
}
.container-stickers {
  padding-top: 50px;
  padding-bottom: 100px;
  padding-right: 80px;
  padding-left: 80px;
  align-content: center;
  justify-content: center;
}
.container-row {
  margin-top: 50px;
}
.container-stuff-link {
  padding-top: 150px;
  padding-bottom: 100px;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: center !important;
  align-content: center !important;
}
@media (max-width: 900px) {
  body {
    background-color: var(--light-color);
    font-family: var(--title-font);
    background-image: none;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 28px;
  }
  h4 {
    font-size: 18px;
  }
  h4.pink-button-link {
    font-size: 16px;
  }
  h4.light-button {
    font-size: 16px;
  }
  h5 {
    font-size: 15px;
  }
  h5.sub-title {
    font-size: 15px;
  }
}
